$offwhite: #eee8d6;
$darkblue: #022933;
$yellow: #ffba00;
$blue: #0076a3;
$green: #548c27;
$orange: #f39856;
$red: #d14348;
$purple: #6d73c2;

$color-main: $darkblue;
$color-background: $offwhite;
$color-headlines: $red;

$font-main: "Merriweather", "Helvetica", sans-serif;
$font-highlight: "Bree Serif", "Helvetica", sans-serif;
